[user]
  name = ebith
  email = ebith.h@gmail.com
[color]
  ui = true
[alias]
  add = add -v
  amend = commit --amend --date=now
  br = branch
  ci = commit -v
  co = checkout
  ls = log --stat
  l = log --graph --decorate --all --oneline
  sm = submodule
  st = status
  up = pull --rebase
  df = diff
  dfc = diff --cached
  wip = !git add -u && git ci -m 'WIP'
[core]
  editor = vim
  pager = delta
[push]
  default = simple
[rebase]
  autostash = true
[interactive]
  diffFilter = delta --color-only
[delta]
  features = decorations
  whitespace-error-style = 22 reverse
  side-by-side = true
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

# GitHub
[url "git@github.com:"]
  pushinsteadof = https://github.com/
[github]
  user = ebith
