[user]
  name = ebith
  email = ebith.h@gmail.com
[color]
  ui = true
[alias]
  add = add -v
  amend = commit -a --amend --no-edit
  br = branch
  ci = commit -v
  co = checkout
  ls = log --stat
  sm = submodule
  st = status
  up = pull --rebase
  df = diff
  dfc = diff --cached
  cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[a-z]"
[core]
  whitespace = cr-at-eol
  editor = vim
  excludesfile = ~/.gitignore.global
  filemode = false
  autocrlf = false
  safecrlf = false
  quotepath = false
  precomposeunicode = true
[i18n]
  commitencoding = UTF-8
[push]
  default = simple
[browse-remote "github.com"]
  top = https://{host}/{path}
  ref = https://{host}/{path}/tree/{short_ref}
  rev = https://{host}/{path}/commit/{commit}
  file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{line && \"#L%d\" % line}"
