[user]
  name = ebith
  email = ebith@feelmy.net
[color]
  ui = auto
[diff]
  external = ~/dotfiles/git_diff_wrapper
[pager]
  diff =
[alias]
  ci = commit
  co = checkout
  st = status
  ls = log --stat
  up = pull --rebase
