[submodule ".zsh/pure"]
	path = .zsh/pure
  url = https://github.com/sindresorhus/pure.git
  ignore = dirty
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/z"]
	path = .zsh/z
	url = https://github.com/knu/z.git
[submodule ".zsh/dircolors-solarized"]
	path = .zsh/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".zsh/zsh-notify"]
	path = .zsh/zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
